/* General */
body {
  font-family: "Arial", sans-serif;
}
.container {
  display: flex;
}
/* Header */
nav.mobile {
  display: none;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 64px;
  width: 100%;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  flex-grow: 1;
}
.logo span {
  height: 32px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.logo img {
  height: 42px;
}
header nav {
  padding-right: 16px;
}
nav span{
  display: inline-block;
  padding: 0px 8px;
}
a {
  color: DimGrey;
  text-decoration: none;
}
span.title-1 {
  font-weight: 600;
}
span.title-2 {
  color: DarkGrey;
  font-weight: 100;
}

/* Banner */
.banner {
  position: relative;
  top: 64px;
  justify-content: center;
  background-color: LightGrey;
}
.image-banner {
  width: 60%;
  display: block;
  margin: 32px 24px;
}
.banner img {
  width: 100%;
  overflow: hidden;
}
.text-banner {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  color: rgb(64, 64, 64);
  padding-right: 75px;;
}
.banner h1 {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2;
}
.banner span {
  font-size: 22px;
  padding: 20px 0;
}
.button {
  display: block;
  background-color: rgb(64, 64, 64);
  color: white;
  text-align: center;
  padding: 8px 0;
  font-size: 20px;
}

/* Info */
