/* General */
body {
  font-family: "Arial", sans-serif;
}
.container {
  display: flex;
  position: relative;
  top: 64px;
}
.container-left {
  display: block;
  width: 60%;
  margin: 32px 24px;
}
.container-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
}
.article {
  display: flex;
}

/* Header */
nav.mobile {
  display: none;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 64px;
  width: 100%;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  flex-grow: 1;
}
.logo span {
  height: 32px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.logo img {
  height: 42px;
}
header nav {
  padding-right: 16px;
}
nav span{
  display: inline-block;
  padding: 0px 8px;
}
a {
  color: DimGrey;
  text-decoration: none;
}
span.title-1 {
  font-weight: 600;
}
span.title-2 {
  color: DarkGrey;
  font-weight: 100;
}

/* Banner */
.banner {
  justify-content: center;
  background-color: LightGrey;
}
.banner img {
  width: 100%;
  overflow: hidden;
}
.text-banner {
  justify-content: center;
  text-align: left;
  color: rgb(64, 64, 64);
  padding-right: 75px;;
}
.banner h1 {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2;
}
.banner span {
  font-size: 22px;
  padding: 20px 0;
}
.button {
  display: block;
  background-color: rgb(64, 64, 64);
  color: white;
  text-align: center;
  padding: 8px 0;
  font-size: 20px;
}

/* Info */
.info {
  background-color: rgb(242, 242, 242);
}
.image-info img {
  width: 100%;
  overflow: hidden;
}
.image-info h1 {
  font-size: 32px;
  color: rgb(64, 64, 64);
  font-weight: 600;
  padding-top: 32px;
  padding-bottom: 24px;
}
.image-info p, .image-info span {
  color: DimGrey;
  font-weight: 100;
}
.tiny {
  display: block;
  font-size: 12px;
  padding-top: 36px;
}
.articles-info {
  border-left: 1px solid rgb(166, 166, 166);
}
.image-small {
  display: block;
  width: 35%;
  margin: 16px;
}
.image-small img{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.text-small {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-small h3{
  color: rgb(64, 64, 64);
  font-weight: 600;
}
.text-small span {
  color: DimGrey;
  font-weight: 100;
  padding: 8px 0;
}
.read-more {
  color: rgb(57, 115, 172);
}

/* Courses */
.courses {
  display: block;
  background-color: rgb(217, 217, 217);
  width: 100%;
  margin: auto;
  color: rgb(64, 64, 64);
}
.title-courses {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-top: 72px;
}
.courses-list {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 72px;
}
.course {
  width: 28%;
  margin: 1rem;
}
.course img {
  width: 100%;
  height: auto;
}
.course-text {
  height: 7rem;
  background-color: white;
  padding: 1rem;
}
.course h2 {
  font-weight: 600;
  margin-top: 8px;
}
.course h3 {
  padding: 8px 0;
  color: DarkGrey;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: lighter;
}
.course p {
  color: DarkGrey;
  font-weight: lighter;
}

/* Thesis */
.thesis-exhibit {
  background-color: rgb(242, 242, 242);
  font-size: 32px;
  padding-top: 72px;
  padding-bottom: 32px;
  font-weight: 600;
  color: rgb(64, 64, 64);
  justify-content: center;
}
.thesis {
  background-color: rgb(242, 242, 242);
}
.video-text h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 12px 0px;
  color: rgb(64, 64, 64);
}
.video-text p {
  color: DimGrey;
  font-weight: 100;
}
video {
  width: 100%;
  overflow: hidden;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(166, 166, 166);
  background-color: rgb(242, 242, 242);
  height: 64px;
  width: 100%;
  color: DimGrey;
}
.copyright {
  display: flex;
  align-items: center;
  padding-left: 24px;
  flex-grow: 1;
}
.terms-privacy {
  padding-right: 8px;
}
footer span {
  display: inline-block;
  padding: 0px 8px;
}
